body {
  background-color: #eee;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  text-align: center;
}

.panel {
  width: 80%;
  margin: 0 auto 20px;
}

#copyright {
  text-align: center;
  padding-bottom: 10px;
}
