body {
  background: #47B5FF;
}

h1, h2 {
  color: #06283D;
}

a {
  color: #1363DF;
  text-decoration: none;
}

a:hover {
  color: #DFF6FF;
}

hr {
  border: 0;
  border-top: 1px dotted #000;
}

footer {
  text-align: center;
}
