body {
  background: #DFF6FF;
  font-family: "Helvetica", "Arial", "Bitstream Vera Sans", "Verdana", sans-serif;
  font-size: 13px;
}

h1, h2 {
  color: #06283D;
}

#main_header {
  background: #47B5FF;
  padding: 10px;
  margin: -8px -8px 0;
  border-bottom: 20px solid #1363DF;
}

a {
  color: #1363DF;
  text-decoration: none;
}

a:hover {
  color: #47B5FF;
}

hr {
  border: 0;
  border-top: 1px dashed #000;
}

footer {
  text-align: center;
}

#me {
  width: 100px;
  height: 100px;
  border-radius: 5px
}

div.popouts {
  display: none;
  border: 1px solid #1363DF;
  padding: 5px;
  background: #47B5FF;
  position: absolute;
}
